<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(prod => { %>
                        <p><li><%= prod.productData.title %> (<%= prod.qty %>)</li></p>
                        <form action="/cart/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= prod.productData.id %>" name="productId">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Product found in Cart!!!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>